@import url(styles.css/cabecalho.css);
@import url(styles.css/banner.css);
@import url(styles.css/numeros.css);
@import url(styles.css/vagas.css);
@import url(styles.css/depoimentos.css);
@import url(styles.css/rodape.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --cor-princial: #ffffff;
    --cinza-claro:#667085;
    --cinza-escuro: #3a404e;
    --vinho:#8e2424;
    --fonte-principal: "inter";
    --branco: #ffffff;  
    --preto-fosco:#101828;
    --borda-card:#Eaecf0;
    --branco-secundario: #F9FAFB;
}

body{
    background-color: var(--cor-princial);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 16px;
}

